services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: image_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  api:
    build:
      context: ../api-service
    ports:
      - "8000:8000"
    volumes:
      - ../frontend:/app/frontend:ro
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/image_db
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      PUBLIC_MINIO_HOST: localhost:9000
      MINIO_REGION: us-east-1
    depends_on:
      - db
      - rabbitmq
      - minio

  worker:
    build:
      context: ../worker-service
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/image_db
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    depends_on:
      - db
      - rabbitmq
      - minio

volumes:
  db_data:
  minio_data:
